.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-text-color);
    cursor: pointer;

    margin-right: 93px;
}
.logo__part {
    color: var(--brand-color);
}
.footer__logo {
    color: var(--main-background-color);
}