.footer {
    background-color: var(--temporary-background-color);
}
.footer__address {
    margin-right: 70px;
}
.footer__list {
    margin-top: 20px;
}
.footer__link {
    color: var(--main-background-color);
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover,
.footer__link:focus {
    color:var(--brand-color);
}
.footer__link-mail,
.footer__link-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}
.footer__container {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__social-list-container {
    width: 206px;
    height: 80px;
}
.footer__social-list-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;

}
.footer__social-list {
    display: flex;
    justify-content: space-between;
}
.footer__social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-list-item:not(:last-child) {
    margin-right: 10px;
}
.footer__social-link-icon {
    width: 20px;
    height: 20px;
    fill: var(--main-background-color);
}
.footer__social-list-link:hover,
.footer__social-list-link:focus {
    background-color: var(--brand-color);
}
.footer__social-list-link:hover .social-link-icon,
.footer__social-list-link:focus .social-link-icon {
    fill: var(--main-background-color);
}
.footer__form-container {
    margin-left: 93px;
}
.footer__form-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer__form {
    display: flex;

}
.footer__form-input {
    width: 388px;
    height: 50px;
    margin-right: 12px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--main-background-color);
    background-color: transparent;
}
.footer__form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    cursor: pointer;

    background-color: var(--brand-color);
    background: #2196F3;
}
.footer__form-button-wrapper {
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--main-background-color);
}
.footer__form-button-icon {
    width: 24px;
    height: 24px;
    fill: var(--main-background-color);
}

