// .navigation{
//     display: flex;
//     align-items: center;
// }
// .navigation__list{
//     display: flex;
//     min-width: 294px;
//     padding: 32px 0px;
// }
// .navigation__link--current::after {
//    content: "";
//    display: block;
//    width: auto;
//    height: 4px;
//    border-radius: 2px;
//    position: relative;
//    top: 28px;
//    background-color: var(--brand-color);

// }
// .navigation__item:not(:last-child) {
//     margin-right: 50px;
// }
.navigation__link--current {
    color: var(--brand-color);
}
.navigation__list,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover,
.navigation__link:focus {
    color:var(--brand-color);
}
.contacts__icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
// .contacts{
//     display: flex;
// }
// .contacts__mail{
//     margin-right: 30px;
// }
.contacts__mail-link, .contacts__tel-link {
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail-link:hover,   
.contacts__mail-link:focus, 
.contacts__icon:hover,
.contacts__icon:focus {
    color:var(--brand-color);
    fill: var(--brand-color);
}
.contacts__tel-link:hover,   
.contacts__tel-link:focus, 
.contacts__icon:hover,
.contacts__icon:focus {
    color:var(--brand-color);
    fill: var(--brand-color);
}
// .header-container{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     border-bottom: 1px solid #ECECEC;
// }
