.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-text-color);
    cursor: pointer;

    margin-right: 93px;
}
.logo-part {
    color: var(--brand-color);
}
.navigation{
    display: flex;
    align-items: center;
}
.list-nav{
    display: flex;
    min-width: 294px;
    padding: 32px 0px;
}
.list-nav-item .current::after {
   content: "";
   display: block;
   width: auto;
   height: 4px;
   border-radius: 2px;
   position: relative;
   top: 28px;
   background-color: var(--brand-color);

}
.list-nav-item:not(:last-child) {
    margin-right: 50px;
}
.list-nav .current {
    color: var(--brand-color);
}
.list-nav,
.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-nav-link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav-link:hover,
.list-nav-link:focus {
    color:var(--brand-color);
}
.header-icon{
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.contacts{
    display: flex;
}
.contacts-mail{
    margin-right: 30px;
}
.contacts-link-mail, .contacts-link-tel {
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-mail:hover,   
.contacts-link-mail:focus, 
.header-icon:hover,
.header-icon:focus {
    color:var(--brand-color);
    fill: var(--brand-color);
}
.contacts-link-tel:hover,   
.contacts-link-tel:focus, 
.header-icon:hover,
.header-icon:focus {
    color:var(--brand-color);
    fill: var(--brand-color);
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
}
