.hero-section{
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;
    background-color: #C4C4C4;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img-hero.jpg");
    background-size: cover;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-background-color);
    margin-bottom: 30px;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid;
    border-color: var(--brand-color);
    border-radius: 4px;
    padding: 10px 32px;
    color: var(--main-background-color);
    cursor: pointer;
}
.hero-container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
