.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter-buttons {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--additional-background-color);
    color: var(--main-text-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px transparent;

    transition-property: background-color, color, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-buttons:not(:last-child) {
    margin-right: 8px;
}
.filter-buttons:hover,
.filter-buttons:focus { 
    background-color: var(--brand-color);
    color:var(--main-background-color); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.projects {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-image-wrapper {
    position: relative;
    overflow: hidden;
}
.projects:hover,
.projects:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-link:hover .overlay,
.projects-link:focus .overlay {
    transform: translateY(0%);
}
.projects-card {
    padding: 20px 24px;
    background: var(--main-background-color);
    border: 1px solid #EEEEEE;
}
.projects-title {
    margin-bottom: 4px;
}
.all {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.all-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: var(--main-background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    overflow: auto;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(33, 150, 243, 0.9);
}
