.team {
    background-color: var(--additional-background-color);
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.team-list-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-card {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    background-color: var(--main-background-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--main-text-color);
    padding-top: 30px;
    margin-bottom: 10px;
}
.team-description {
    font-size: 16px;
    line-height: 1.19;
    color: var(--additional-text-color);
    margin-bottom: 16px;
}
.team-social-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.team-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-list-link:hover,
.team-social-list-link:focus {
    background-color: var(--brand-color);
}
.team-social-list-link:hover .team-social-list-icon,
.team-social-list-link:focus .team-social-list-icon{
    fill: var(--main-background-color);
}
.team-social-list-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
}
